@font-face {
  	font-family: "symbols-sedona";
  	src: url("../font/symbols-sedona.eot?60737633");
  	src: url("../font/symbols-sedona.eot?60737633#iefix") format("embedded-opentype"),
	   url("../font/symbols-sedona.woff?60737633") format("woff"),
       url("../font/symbols-sedona.ttf?60737633") format("truetype"),
       url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  	font-weight: normal;
  	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "symbols-sedona";
    src: url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  	font-family: "symbols-sedona";
  	font-style: normal;
  	font-weight: normal;
  	speak: none;
 
  	display: inline-block;
  	text-decoration: inherit;
  	width: 1em;
  	margin-right: .2em;
  	text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  	font-variant: normal;
  	text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  	line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  	margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: "\66"; } /* "f" */
.icon-twitter:before { content: "\74"; } /* "t" */
.icon-up-dir:before { content: "\25b2"; } /* "▲" */
.icon-down-dir:before { content: "\25bc"; } /* "▼" */
.icon-star:before { content: "\2605"; } /* "★" */
.icon-check-off:before { content: "\2610"; } /* "☐" */
.icon-check-on:before { content: "\2611"; } /* "☑" */
.icon-calendar:before { content: "\e800"; } /* "" */
.icon-plus:before { content: "\e801"; } /* "" */
.icon-minus:before { content: "\e802"; } /* "" */
.icon-youtube:before { content: "\f39e"; } /* "" */

body {
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", "Verdana", "Arial", sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #f2f2f2;
}

h2 {
	font-size: 21px;
	line-height: 26px;	
}

figure {
	margin: 0;
}

h3 {
	font-size: 16px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* центровщик */
.positioner {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	background: #fff;
	-moz-box-shadow: 0 0 15px 0 #d7d7d7;
    -webkit-box-shadow: 0 0 15px 0 #d7d7d7;
	box-shadow: 0 0 15px 0 #d7d7d7;
	position: relative;
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

/* хедэр */
.logo {
	position: absolute;
	left: 50%;
	margin-left: -70px;
	z-index: 1;
}

/* меню */
.navigation-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.navigation-list li {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	min-height: 56px;
}

.navigation-list a {
	display: block;
	padding: 15px;
	font-size: 14px;
	background: #fff;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	line-height: 26px;
}

.navigation-list a:hover {
	color: #81b3d2;
}

.navigation-list a:active {
	opacity: .2;
}

.navigation-list .active {
	color: #766357;
}

.navigation-list .active:hover {
	color: #604e43;
}

.navigation-list .active:active {
	opacity: .2;
}



.navigation-list li:nth-child(2){
	margin-right: 20%;
}

/* основной контейнер */

.contain-image {
	margin-bottom: 60px;
	position: relative;
	height: 508px;
	background: 
		url("../img/some.png") no-repeat bottom,
		url("../img/bg-content-words.png") no-repeat center,
		#e2eff7 url("../img/bg-content.jpg") no-repeat center;
		
}

/* заголовки */
.contain-title {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 51px;
}

.contain-title h2 {
	margin-top: 0;
	margin-bottom: 30px;
}

.contain-title p {
	margin-top: 0;
	line-height: 26px;
}

/* блоки с причинами */

.contain-causes {
	background: #81b3d2;
	color: #fff;
	min-height: 256px;		
}

.cause-1 {
	margin-bottom: 55px;
	background: #81b3d2 url("../img/bg-features-1.jpg") no-repeat right;
	background-size: 67%;
}

.cause-2 {
	background: #81b3d2 url("../img/bg-features-2.jpg") no-repeat left;
	background-size: 67%;
}

.cause-1 .causes-words {
	width: 33%;
	float: left;	
}

.contain-causes h2 {
	margin-top: 0;
}

.contain-causes p {
	margin-top: 15px;
	margin-bottom: 0;
	padding: 0 40px;
}

.causes-words {
	padding: 44px 0;
}


.cause-2 .causes-words {
	width: 33%;
	float: right;
}

/* блок с рекомендациями */
.features {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	margin-bottom: 70px;
	margin-right: -4px;
}

.features h2 {
	margin: 0;
	margin-bottom: 20px;
}

.features p,
.last-causes p {
	padding: 0 40px;
}

.sprite {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	background: #fff url("../img/sprite-features.png") no-repeat;
	margin-bottom: 22px;
}

.sprite-house {
	background-position: -90px 0px;
}

.sprite-burger {
	background-position: -5px 0px;
}

.sprite-souvenirs {
	background-position: 5px -87px;
}

/* блок с поседними причинами на сером фоне */
.last-causes-contain {
	background: #eeeeee;
	margin-bottom: 58px;
}

.last-causes h2 {
	margin-bottom: -5px;
}

.last-causes p {
	margin-bottom: 20px;
}

.last-causes {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	margin-left: 0;
	padding-top: 30px;
	padding-bottom: 45px;
}

/* контейнер с поиском */

.search-title {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 29px;
	text-align: center;
}

.search-title h2 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 25px;
}

.search-title p {
	line-height: 24px;
}

.search-form-container {
	width: 567px;
	padding: 18px;
	padding-bottom: 0;
	margin: 0 auto;
}

.btn {
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	border: none;
	outline: none;
	font-family: "PT Sans", "Verdana", "Arial", sans-serif;
	text-transform: uppercase;
	cursor: pointer;
}

.btn-search {	
	min-height: 54px;
	padding-top: 32px;
	background: #766357;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.btn-search:hover{
	background: #604e43;
}

.btn-search:active {
	background: #503e33;
	color: #928a85;
}

.search-form {
	display: none;
	position: absolute;
	z-index: 3;
	background: #fff;
	padding: 55px;
	-moz-box-shadow: 0 0 15px 0 #a9a7a7;
    -webkit-box-shadow: 0 0 15px 0 #a9a7a7;
	box-shadow: 0 7px 15px 0 #a9a7a7;
	width: 459px;
	text-align: left;
}

@-webkit-keyframes slide {
    0% {
        transform: translateY(-900px); 
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide {
    0% {
        transform: translateY(-900px); 
    }
    100% {
        transform: translateY(0);
    }
}


.search-form-show {
	display: block;
	-webkit-animation: slide .6s;
	animation: slide .6s;
}

.inner-page .search-form {
	display: block;
	position: static;
	margin-bottom: 20px;
}

.search-form label {
	line-height: 26px;
	font-weight: bold;
	display: block;
	float: left;
	padding: 0;
	padding-top: 8px;
	width: 100px;
	
}

.block-date {
	position: relative;
}

.block-date>label {
	margin-bottom: 30px;
}

input[type="text"] {
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans", "Verdana", "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	height: 8px;
	margin-bottom: 30px;
	padding: 15px;	
	background: #f2f2f2;
	border: none;
	outline: none;
}

input[type="text"]:hover {
	background: #ebebeb;
}

input[type="text"]:active {
	background: none;
	outline: 2px solid #ebebeb;	
}

input[class="date"] {
	padding-right: 40px;
	width: 291px;
	float: right;
}

.icon-calendar {
	position: absolute;
	top: 8px;
	left: 420px;
	color: #c2c2c2;
	font-size: 21px;
}

.calendar {
	top: 76px;
}

input[class="count"] {
	padding-left: 25px;
	padding-right: 25px;
	width: 64px;
	float: right;
	text-align: center;
}

.count-adult {
	float: left;
	width: 225px;
	margin-bottom: 25px;
	position: relative;
}

.count-child label {
	width: 60px;
	padding: 0;
	padding-top: 8px;
}

.count-child {
	position: relative;
	width: 180px;
	float: right;
}

.icon-plus {
	position: absolute;
	bottom: 38px;
	left: 198px;
	color: #a9a9a9;
}

.icon-minus {
	position: absolute;
	bottom: 38px;
	left: 120px;
	color: #a9a9a9;
}

.plus {
	left: 155px;
}

.minus {
	left: 75px;
}

.icon-calendar:hover,
.icon-plus:hover,
.icon-minus:hover {
	color: #000;
}

.icon-calendar:active,
.icon-plus:active,
.icon-minus:active {
	color: #81b3d2;
}

.btn-form {
	width: 458px;
	height: 58px;
	background: #81b3d2;
	font-size: 21px;
	line-height: 26px;
}

.btn-form:hover {
	background: #669ec0;
}

.btn-form:active {
	background: #5496bd;
	color: #94b9d2;
}

/* фильтры поиска */

.filters-background {
	background: #fff url("../img/bg-hotels.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.filters,
.result-sorting,
.hotels {	
	max-width: 1057px;
	padding: 0 31px;
	margin: 0 auto;	
}

.filters {
	text-align: left;
	color: #fff;
	padding-top: 28px;
	padding-bottom: 6px;
}

.filters-title {
	margin: 0;
	margin-bottom: 25px;
}

.filters-infrastructure {
	width: 195px;
	float: left;
}

.filters-housing {
	width: 30%;	
	float: left;
	margin-left: 60px;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + label {
	position: relative;
	display: block;
	padding-bottom: 25px;
	cursor: pointer;
	color: rgba(255, 255, 255, .6);
}

input[type="checkbox"] + label::before {
	content: "";	
	display: inline-block;
	vertical-align: top;
	margin-right: 16px;
	font-size: 21px;
	font-weight: bold;
	margin-top: -4px;
	width: 25px;
	height: 25px;
	background: url("../img/icon-checkbox.png") no-repeat center;
	opacity: .6;
}

input[type="checkbox"]:checked + label::before {
	background: 
		url("../img/icon-checkbox-checked.png") no-repeat center;
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"] + label:hover {
	opacity: 1;
	color: #fff;
}

input[type="checkbox"]:disabled + label::before {
	opacity: .3;
	color: rgba(255, 255, 255, .3);
}

.filters-price {
	width: 33%;
	float: right;
	position: relative;
	margin: 0 auto;
}

.filters-price .filters-title {
	margin-bottom: 11px;
}

.price-result {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
	font-size: 0;
}

.result-min,
.result-max {
	display: inline-block;
	vertical-align: top;
	height: 20px;
	font-size: 14px;
	margin-right: -4px;
	border: 2px solid #fff;
	border-radius: 2px;
	width: 50%;
	padding: 6px 0;
}

.result-min {
	border-right: none;
}

.result-max {
	border-left: none;
}

.price-result::before {
	content: "";
	width: 2px;
	height: 22px;
	background: #fff;
	position: absolute; 
	left: 50%;
	top: 7px;
}

.price-range {
	width: 100%;
	height: 25px;
	position: relative;
	margin-bottom: 10px;
}

.scale {
    height: 2px;
    background: rgba(255, 255, 255, .3);
}

.scale div.bar {
    height: 2px;
    background: #fff;   
}

.range-controls .toggle{
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 0 0 #525252;
}

.range-controls .toggle:hover {
	background: #1c4f80;
}

.range-controls .max-toggle{
    left: 80%;
}

.btn-filters {
	width: 137px;
	padding: 6px 0;
	background: none;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;	
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 2px;
}

/* блок с сортировкой */
.sorting-category {
	float: left;
	font-size: 12px;
	line-height: 18px;
	padding-top: 7px;
}

.sorting-category span {
	margin-right: 38px;
}

.sorting-category .active-sorting {
	color: #81b3d2;
	border: none;
}

.sorting-category a {
	margin-right: 30px;
	text-decoration: none;
	color: #d9d9d9;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-category a:hover {
	color: #81b3d2;
}

.sorting-category a:active {
	color: #000;
	border: none;
}

.sorting-arrow,
.hotels-stars {
	float: right;
	text-align: right;
	padding-right: 3px;
}

a.arrow {
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
	margin: 0 5px;
	font-size: 0;
}

.arrow::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	border: 10px solid #ccc;
	border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow-up::before {
	border-top-width: 0;
}

.arrow-up:hover::before {
	border-bottom-color: #000;
}

.arrow-up:active::before {
	border-bottom-color: #81b3d2;
}

.arrow-down::before {
	border-bottom-width: 0;
}

.arrow-down:hover::before {
	border-top-color: #000;
}

.arrow-down:active::before {
	border-top-color: #81b3d2;
}

.active-arrow::before {
	border: 10px solid #81b3d2;
	border-right-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 0;
    border-right-color: transparent;
    border-left-color: transparent;
}

/* блок с результатами поиска */
.result-sorting {
	padding: 30px;
	padding-bottom: 25px;
}

.hotels {
	padding-top: 30px;
	padding-bottom: 24px;
}

.result {
	text-align: left;
}

.hotels-words {
	display: block;
	margin-top: 8px;
}

.result-sorting-contain,
.hotels-contain {
	border-bottom: 1px solid #e5e5e5;
}

.result-sorting>p,
.hotels-photo {
	width: 165px;
	display: block;
	float: left;
}

.hotels-photo img {
	width: 135px;
	height: 90px;
}

.result-sorting>p {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.result p,
.result h2 {
	margin: 0;
}

.hotels-type,
.hotels-price {
	display: inline-block;
	vertical-align: top;

	padding-bottom: 8px;
}

.hotels-type {
	width: 114px;
}

.hotels-title {
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	margin-bottom: 8px;
}

.hotels-title:hover {
	color: #81b3d2;
}

.hotels-title:active {
	color: #000;
	opacity: .2;
}

.btn-details,
.btn-reserve {
	display: inline-block;
	vertical-align: top;
	height: 17px;
	margin-right: 3px;
	padding-top: 3px;
	padding-bottom: 7px;
}

.btn-details {
	width: 110px;
	background: #81b3d2;
}

.btn-details:hover {
	background: #669ec0;
}

.btn-details:active {
	background: #5496bd;
	color: #94b9d2;
}

.btn-reserve {
	width: 144px;
	background: #766357;
}

.btn-reserve:hover {
	background: #604e43;
}

.btn-reserve:active {
	background: #503e33;
	color: #928a85;
}

.hotels-raitings {
	float: right;
	width: 109px;
	height: 21px;
	margin-top: -26px;
	margin-right: 8px;
	padding: 3px 0;
	text-align: center;
	background: #f2f2f2;
}

.hotels-stars {
	margin: 0;
	padding-right: 8px;
	margin-top: -3px;
}

.icon-star {
	color: #81b3d2;
	font-size: 19px;
}

.map {
	background: #fff url("../img/map.jpg") no-repeat center;
	height: 595px;
}

/* футер */

.main-footer {
	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, .9);
	padding: 36px 0;
	bottom: 0;
	z-index: 1;
}

.inner-page .main-footer {
	position: static;
	opacity: 1;
}

.footer-contain {
	display: inline-block;
	width: 33%;
	vertical-align: top;		
	text-align: center;
	margin-right: -4px;
}

.hash p {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin: 10px 0;
}


.social {
	display: inline-block;
	vertical-align: top;
	width: 45px;
	height: 33px;
	background: #81b3d2;
	text-decoration: none;
	margin-right: -4px;
	margin-left: 6px;
	color: #fff;
	font-size: 19px;
	padding-top: 15px;	
}

.social:hover {
	background: #669ec0;
}

.social:active {
	background: #5496bd;
	color: #94b9d2;
}

.maker-contain {
	margin: 0 auto;
	width: 230px;
}

.maker-contain a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	font-size: 0;
	width: 140px;
	height: 50px;
	background: #fff url("../img/logo-footer.png") no-repeat center;
}

.maker-contain a:hover {
	background: #fff url("../img/logo-footer-hvr.png") no-repeat center;
}

.maker-contain a:active {
	opacity: .2;
}