@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?27841936');
  src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?27841936') format('woff'),
       url('../font/symbols-nerds.ttf?27841936') format('truetype'),
       url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #000;
	font-weight: 500;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 36px;
	line-height: 36px;
}

h3 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

h4 {
	text-transform: uppercase;
	font-weight: normal;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
	padding: 27px 0;
	background-color: #eeeeee;
}

.container {
	width: 880px;
	margin: 0 auto;

	padding: 0 10px;
}

.logo {
	width: 318px;
	float: left;
}

.header-navigation {
	width: 560px;
	float: left;
}

.navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation-list li {
	display: inline-block;
	vertical-align: top;
	margin-right: 45px;
	
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.navigation-list a {
	display: block;
	padding-top: 28px;

	text-decoration: none;
	color: #000;
}

.navigation-list a:hover,
.basket a:hover {
	color: #fb565a;
}

.navigation-list a:active {
	color: #ababab;
}

.navigation-list .active a {
	position: relative;
}

.navigation-list .active a::after {
	content: "";

  	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;

  	height: 2px;

  	background: #fb565a;
}

/*.header-basket {
	font-size: 14px;
	line-height: 30px;

	text-transform: uppercase;
	padding-top: 28px;
	text-align: right;
}

.header-basket a {
	text-decoration: none;
	color: #000;
}
*/

li.basket {
	position: relative;
	margin-right: 0;	
}

.basket a:before {
	content: '\62';
	font-family: symbols-nerds;
	top: 27px;
	left: -20px;
	text-transform: none;
	color: #a6a6a6;
	position: absolute;
}

.contain-some {
	background-color: #eeeeee;
}

.contain-introduction {
	overflow: auto;
	padding-top: 10px;
}

.contain-title {
	width: 400px;
	float: left;
}

.contain-title h2 {
	margin-bottom: 20px;
}

.contain-title p {
	margin-bottom: 25px;
}

.contain-image {
	width: 400px;
	min-height: 300px;
	float: right;	
	margin: 0;
}

.image1 {
	text-align: right;
	margin-top: 10px;
}

.btn {
	display: block;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	background: #fb565a;
	text-align: center;
	padding: 10px 0;
	width: 140px;
	border-radius: 5px;
}

.btn-more {
	width: 240px;
}

.contain-features {
	padding: 80px 0;
	border-bottom: 2px solid #eeeeee;
}

.features-title {
	margin-bottom: 15px;
}

.features-item {
	width: 239px;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 76px;
}

.features-item:nth-child(3n) {
	margin-right: 0;
}

.features-item p {
	margin-bottom: 25px;
}

.btn-reserve-green {
	background: #00ca74;
}

.btn-reserve-yellow {
	background: #efc84a;
}

.contain-info {
	padding: 50px 0 40px 0;
	border-bottom: 2px solid #eeeeee;
}

.info-contain {
	margin-bottom: 5px;
}

.info-title h2 {
	margin-top: 20px;
	margin-bottom: 18px;
}

.info-title-nerds figure {
	margin: 8px 0 20px 10px;
	text-align: center;
}

.info-title,
.info-features {
	width: 580px;
	float: left;
}

.info-title-nerds,
.info-features-work {
	width: 240px;
	float: right;
}

.info-title-nerds p {
	text-align: center;
	position: relative;
}

.info-title-nerds p:before {
	content: '';
	position: absolute;
	width: 64px;
	height: 2px;
	background: #eee;
	left: 0;
	top: 10px;
}

.info-title-nerds p:after {
	content: '';
	position: absolute;
	width: 64px;
	height: 2px;
	background: #eee;
	left: 175px;
	top: 10px;
}

.info-features-item {
	padding: 0;
	list-style: none;
}

.info-features-item li {
	padding-left: 35px;
	margin-bottom: 25px;
	position: relative;
}

.info-features-item li:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 2px;
	background: #fb5559;
	left: 0;
	top: 8px;
}

.contain-logo {
	height: 95px;
	padding: 43px 8px 27px;
	border-bottom: 2px solid #eeeeee;
	margin-bottom: 85px;
}

.logo-feature {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 110px;
	width: 210px;
	margin-right: 100px;
	text-align: center;
}

.logo-feature:nth-child(2) {
	padding-top: 10px;
}

.logo-feature:nth-child(3n) {
	padding-left: 15px;
	margin-right: 0;
}

.logo-feature a {
	opacity: .2;
}

.logo-feature a:hover {
	opacity: 1;
}

.contain-map {
	position: relative;
	margin-bottom: 75px;
}

.map {
	height: 415px;
	background: url('../img/map.png') no-repeat;
	background-size: cover;
}

.map-contacts {
	position: absolute;
	top: 90px;
	left: 510px;

	height: 180px;
	width: 210px;
	padding: 30px 20px;
	background: #fff;
}

.map-contacts h3 {
	margin: 0;
}

.btn-contacts {
	width: 100%;
}

.container-footer {
	margin-bottom: 59px;
}

.footer-title {
	float: left;
	min-width: 440px;
}

.footer-title h2 {
	margin: 0;
}

.footer-title p {
	margin-top: 14px;
}

.social-contain {
	float: left;
	min-width: 220px;
	margin-right: 47px;
	padding-top: 5px;
}

.social {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 61px;
	height: 24px;
	background: #e1e1e1;
	text-decoration: none;
	margin-right: 25px;
	color: #fff;
	font-size: 24px;
	border-radius: 50%;
	padding: 18px 0;
}