@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?27841936');
  src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?27841936') format('woff'),
       url('../font/symbols-nerds.ttf?27841936') format('truetype'),
       url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #000;
	font-weight: 500;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

/* стили для заголовков */
h1 {
	font-size: 40px;
	line-height: 45px;
	font-weight: normal;
}

h2 {
	font-size: 36px;
	line-height: 36px;
}

h3 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

h4 {
	text-transform: uppercase;
	font-weight: normal;
}
/* распорка */
.clearfix:after {
  content: "";

  display: table;
  clear: both;
}
/* стили отцентрированного контейнера */
.container {
	width: 880px;
	margin: 0 auto;

	padding: 0 10px;
}
/* стили хэдера */
.main-header {
	padding-top: 27px;
	background-color: #eeeeee;
}

.logo {
	width: 318px;
	float: left;
}
/* стили меню навигации */
.header-navigation {
	width: 560px;
	float: left;
}

.navigation-list {
	list-style: none;

	margin: 0;
	padding: 0;

	font-size: 0;
}

.navigation-list li {
	display: inline-block;
	vertical-align: top;

	margin-right: 45px;
	padding-left: 2px;
	
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.navigation-list li:nth-child(4) {
	margin-right: 84px;
}

.navigation-list a {
	display: block;
	padding-top: 25px;

	text-decoration: none;
	color: #000;
}

.navigation-list a:hover,
.navigation-list a:hover::before {
	color: #fb565a;
}

.navigation-list a:active {
	color: #ababab;
}

.navigation-list a:active::before {
	color: #cbcbcb;
}

.navigation-list .active a {
	position: relative;
}

.navigation-list .active a::after {
	content: "";

  	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;

  	height: 2px;

  	background: #fb565a;
}
/* стили корзины */
.header-basket {
	font-size: 14px;
	line-height: 30px;

	text-transform: uppercase;
	padding-top: 25px;
	text-align: right;
}

.header-basket a {
	text-decoration: none;
	color: #000;
}

li.basket {
	position: relative;
	margin-right: 0;
	padding-left: 5px;
}

.basket a::before {
	content: '\62';
	font-family: symbols-nerds;

	position: absolute;
	top: 25px;
	left: -20px;

	text-transform: none;
	color: #a6a6a6;
}
/* карусель */
.slides {
	position: relative;
}

.slide {
	display: none;

	padding: 50px 0 80px 0;
}

.slide-1 {
	background: url('../img/slide-1.png') no-repeat 100% 47px;
}

.slide-2 {
	background: url('../img/slide-2.png') no-repeat 100% 47px;
}

.slide-3 {
	background: url('../img/slide-3.png') no-repeat 100% 30px;
}

.active-slide {
	display: block;
}

.slide-contain {
	width: 490px;
}

.slide-contain h2 {
	margin: 17px 0;
}

.slide-contain p {
	margin-bottom: 30px;
}

.slide-radio input[type='radio'] {
	display: none;
}

.radio-label {
	position: absolute;
	top: 237px;
	left: 417px;
}

.radio-label label {
	display: inline-block;
	margin-right: 5px;

	width: 4px;
	height: 4px;
	background: #fff;
	border: 3px solid #fff;
	border-radius: 50%;

	cursor: pointer;
}

#radio-1:checked~.radio-label label[for='radio-1'],
#radio-2:checked~.radio-label label[for='radio-2'],
#radio-3:checked~.radio-label label[for='radio-3'] {
	background: #c1c1c1;
}

/* основные стили кнопок */
.btn {
	display: block;

	width: 140px;
	padding: 10px 0;
	background: #fb565a;
	border-radius: 5px;
	border: none;

	color: white;
	line-height: 18px;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
}

.btn-more {
	width: 240px;
}

.btn:hover {
	background: #d5494d;
}

.btn:active {
	background: #b63438;
}

.contain-introduction {
	padding: 35px 0 58px 0;

}

.inner-introduction {
	margin: 0 auto;

	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

/* стили для фич */
.contain-features {
	padding: 80px 0;
	border-bottom: 2px solid #eeeeee;
}

.features-title {
	margin-bottom: 15px;
}

.features-item {
	display: inline-block;
	vertical-align: middle;

	width: 239px;
	margin-right: 76px;

	font-size: 15px;
}

.features-item:nth-child(3n) {
	margin-right: 0;
}

.features-item p {
	margin-bottom: 25px;
}

.btn-reserve-green {
	background: #00ca74;
}

.btn-reserve-green:hover {
	background: #01a15d;
}

.btn-reserve-green:active {
	background: #008f53;
}

.btn-reserve-yellow {
	background: #efc84a;
}

.btn-reserve-yellow:hover {
	background: #d6ad2b;
}

.btn-reserve-yellow:active {
	background: #c09b24;
}
/* стили блока с представлением */
.contain-info {
	padding: 50px 0 40px 0;
	border-bottom: 2px solid #eeeeee;
}

.info-contain {
	margin-bottom: 5px;
}

.info-title h2 {
	margin-top: 20px;
	margin-bottom: 18px;
}

.info-title-nerds figure {
	margin: 8px 0 20px 10px;
	text-align: center;
}

.info-title,
.info-features {
	width: 580px;
	float: left;
}

.info-title-nerds,
.info-features-work {
	width: 240px;
	float: right;
}

.info-title-nerds p {
	text-align: center;
	position: relative;
}

.info-title-nerds p:before {
	content: '';

	position: absolute;
	left: 0;
	top: 10px;

	width: 64px;
	height: 2px;
	background: #eee;
}

.info-title-nerds p:after {
	content: '';

	position: absolute;
	left: 175px;
	top: 10px;

	width: 64px;
	height: 2px;
	background: #eee;
}

.info-features-item {
	padding: 0;
	list-style: none;
}

.info-features-item li {
	padding-left: 35px;
	margin-bottom: 25px;
	position: relative;
}

.info-features-item li:before {
	content: '';

	position: absolute;
	left: 0;
	top: 8px;

	width: 25px;
	height: 2px;
	background: #fb5559;
}
/* стили контейнера с логотипами */
.contain-logo {
	height: 95px;
	padding: 43px 8px 27px;
	border-bottom: 2px solid #eeeeee;
	margin-bottom: 85px;
}

.logo-feature {
	display: inline-block;
	vertical-align: top;

	width: 210px;
	margin-right: 100px;

	font-size: 16px;
	line-height: 110px;
	text-align: center;
}

.logo-feature:nth-child(2) {
	padding-top: 10px;
}

.logo-feature:nth-child(3n) {
	padding-left: 15px;
	margin-right: 0;
}

.logo-feature a {
	opacity: .2;
}

.logo-feature a:hover {
	opacity: 1;
}

/* блок каталога */
.main-contain-inner {
	padding: 57px 0;
}

.filter-price {
	margin-bottom: 45px;
}

.filter-grids {
	margin-bottom: 43px;
}

.filter-features {
	margin-bottom: 55px;
}
/* фильтры */
.inner-filters {
	float: left;
	width: 240px;
}

.inner-result {
	float: right;
	width: 600px;
}

.filters-title {
	margin-bottom: 14px;
}

.price-range {
	position: relative;

	width: 200px;
	height: 2px;
	padding: 38px 20px;
	margin-bottom: 16px;

	background: #f1f1f1;
	border-radius: 5px;
}

.scale {
	width: 197px;
	height: 2px;
	margin: 0 auto;

	background: #d7dbdd;
}

.scale div.bar {
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle{
	position: absolute;
	top: 50%;
	margin-top: -10px;

	width: 4px;
	height: 4px;
	border: 8px solid white;
	background: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 0 0 #cfcfcf;

	cursor: pointer;
}

.range-controls .toggle:hover {
	background: #1c4f80;
}

.range-controls .max-toggle{
	left: 67%;
}

.price-result label {
	font-weight: bold;
	text-transform: uppercase;

	margin-right: 2px;
}

.price-result input {
	width: 80px;
	height: 35px;

	border-radius: 3px;
	border: none;
	background: #f1f1f1;

	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

.price-result input[name='min-price'] {
	margin-right: 15px;
}

.price-result input:focus {
	outline: none;
}

.filter-grids input[type='radio'],
.filter-features input[type='checkbox'] {
	display: none;
}

.filter-grids input[type='radio'] + label,
.filter-features input[type='checkbox'] + label {
	display: block;
	margin-bottom: 15px;
	cursor: pointer;
}

.filter-grids input[type='radio'] + label::before,
.filter-features input[type='checkbox'] + label::before {
	content: '';

	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.filter-grids input[type='radio'] + label::before {
	background: url('../img/icon-radio.png') no-repeat center;
}

.filter-grids input[type='radio']:checked + label::before {
	background: url('../img/icon-radio-checked.png') no-repeat center;
}

.filter-features input[type='checkbox'] + label::before {
	background: url('../img/icon-checkbox.png') no-repeat center;
}

.filter-features input[type='checkbox']:checked + label::before {
	background: url('../img/icon-checkbox-checked.png') no-repeat center;
}

.btn-filters {
	width: 155px;
	background: #f1f1f1;
	color: #000;
	border-radius: 3px;
	font-weight: bold;
}

/* стили футера */
.container-footer {
	margin-bottom: 59px;
}
/* стили карты */
.contain-map {
	position: relative;
	margin-bottom: 75px;
}

.map {
	height: 415px;
	background: url('../img/map.png') no-repeat;
	background-size: cover;
}
/* блок с контактами */
.map-contacts {
	position: absolute;
	top: 90px;
	left: 510px;

	height: 180px;
	width: 210px;
	padding: 30px 20px;
	background: #fff;
}

.map-contacts h3 {
	margin: 0;
}

.btn-contacts {
	width: 100%;
}

.btn-submit {
	width: 460px;
	border: none;

	cursor: pointer;
}
/* блок с обратной формой */
.contact-us {
	display: none;

	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -315px;
	padding: 52px 100px 52px 80px;

	width: 450px;
	height: 312px;
	background: #fff;

	-moz-box-shadow: 0 0 15px 5px #000;
	-webkit-box-shadow: 0 0 15px 5px #000;
	box-shadow: 0 15px 50px 0 rgba(0,0,0,.7);

	font-weight: bold;
}

.contact-us-show {
	display: block;
}

.btn-close {
	position: absolute;
	top: 6px;
	right: 6px;

	width: 40px;
	height: 40px;
	background: url('../img/icon-cross.png') no-repeat center;
	background-size: contain;

	cursor: pointer;
}

.contact-us label {
	display: block;

	margin-bottom: 7px;
}

.contact-us textarea {
	width: 430px;
	height: 85px;
	resize: none;

	margin-bottom: 43px;
}

.contact-us textarea,
.info input {
	border: 2px solid #d7dbdd;
	border-radius: 2px;
	padding: 12px 13px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

.info {
	margin-bottom: 20px;
}

.info-name {
	float: left;
	width: 225px;
}

.info-email {
	float: right;
	width: 210px;
}

.info input {
	width: 190px;
	height: 10px;
}

.info input:hover,
.contact-us textarea:hover {
	border: 2px solid #a1a9ac;
}

.info input:focus,
.contact-us textarea:focus {
	outline: none;
	border: 2px solid #56befb;
}

/* блок с социальными кнопками */
.social-contain {
	float: left;
	min-width: 220px;

	margin-right: 47px;
	padding-top: 5px;
}

.social {
	display: inline-block;
	vertical-align: middle;

	width: 61px;
	height: 24px;
	border-radius: 50%;
	background: #e1e1e1;

	margin-right: 25px;
	padding: 18px 0;

	color: #fff;
	font-size: 24px;
	text-decoration: none;
	text-align: center;
}

.social:hover {
	background: #fb5559;
}

.social:active {
	background: #d5494d;
	-webkit-box-shadow: inset 0 3px 0 0 #b53e41;
	-moz-box-shadow: inset 0 3px 0 0 #b53e41;
	box-shadow: inset 0 3px 0 0 #b53e41;
}
/* блок с текстом футера */
.footer-title {
	float: left;
	min-width: 440px;
}

.footer-title h2 {
	margin: 0;
}

.footer-title p {
	margin-top: 14px;
}