@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
  url("../fonts/opensans.woff"),
  url("../fonts/opensans.woff2")
}

@font-face {
  font-family: "OpenSans Bold";
  src: local("OpenSans Bold"),
  url("../fonts/opensansbold.woff"),
  url("../fonts/opensansbold.woff2")
}
