@mixin container() {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media ($tablet-widths) {
    width: 668px;
    padding: 0 50px;
  }

  @media ($desktop-widths) {
    width: 1050px;
    padding: 0 50px;
  }
}

@mixin clearfix() {
  &::after {
    content: "";

    display: block;
    clear: both;
  }
}

@mixin font-style($font-size: 17px, $line-height: 24px) {
  font-family: "OpenSans Bold", "Verdana", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin font-resize($font-size: 17px, $line-height: 24px) {
  font-size: $font-size;
  line-height: $line-height;
}
