//ширины для разных устройств
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1150px";

//серые цвета для границ и фонов
$color-border-product: #ededed;
$color-border-modal: #c7c7c7;
$main-color-border: #ececec;
$color-icons-menu: #d3d2d2;
$color-grey: #f1f1f1;
$color-border-footer: #e5e5e5;
$bg-color-icons: #ccc;
$bg-color-main-header: #f9f9f9;

//зеленые цвета
$color-light-green: #63d1bb;
$color-green: #56c3b2;
$color-green-interior: #97e2d2;
$color-green-toy: #8dd5c9;
$color-icons-nav: #3bb09d;
$color-footer-icons: #46c1ae;

//черный цвет, в некоторых местах используется
$color-light-black: #444444;
$color-btn-active: #8d8d8d;
