.main-about-us {
  padding-top: 30px;
  padding-bottom: 32px;
}

.main-about-us__title {
  @include font-style(25px, 30px);
  margin: 0;
}

.features-list__item-text {
  margin-bottom: 0;
}

@media ($tablet-widths) {
  .main-about-us {
    padding-top: 63px;
    padding-bottom: 24px;
  }

  .main-about-us__title {
    @include font-resize(43px, 50px);

    margin-left: -3px;
  }
}

@media ($desktop-widths) {
  .main-about-us {
    padding-top: 72px;
    padding-left: 175px;
    padding-bottom: 31px;
  }

  .main-about-us__title {
    @include font-resize(53px, 57px);

    margin-left: -3px;
    margin-top: 3px;
    margin-bottom: -3px;
  }
}
