.main-week-product {
  padding: 28px 0 40px;

  position: relative;

  &:after {
    content: "";

    display: block;
    width: 320px;
    height: 23px;
    margin: 0 -30px;

    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.main-week-product__title {
  @include font-style(25px, 30px);
  margin: 0 0 2px;
}

.main-week-product__mark {
  @include font-style(17px, 16px);

  color: $color-light-green;
  text-transform: uppercase;
}

.main-week-product__description {
  margin: 20px 0 15px;
}

.main-week-product__price {
  @include font-style();
  color: $color-light-black;

  display: block;
  padding: 16px 0 25px;
  text-align: center;
}

.main-week-product__image {
  width: 260px;
  height: 314px;
}

@media ($tablet-widths) {

  .main-week-product {
    padding-top: 43px;
    padding-bottom: 55px;

    &:after {
      width: 768px;
      height: 23px;

      bottom: -18px;
      margin: 0 -50px;
    }
  }

  .main-week-product__title {
    @include font-resize(43px, 50px);

    margin-bottom: 45px;
    margin-left: -4px;
  }

  .main-week-product__mark {
    display: block;
    width: 125px;
    text-align: center;

    position: absolute;
    top: 53px;
    right: 0;
  }

  .main-week-product__description {
    @include font-resize(17px, 30px);

    width: 290px;
    margin-bottom: 35px;
  }

  .main-week-product__image-container {
    position: absolute;

    right: 0;
    top: 148px;
  }

  .main-week-product__image {
    width: 334px;
    height: 403px;
  }

  .main-week-product__price {
    @include font-resize(20px, 24px);

    width: 290px;
    padding: 23px 0 35px;
  }

}

@media ($desktop-widths) {

  .main-week-product {
    padding: 125px 0 80px 175px;

    &:after {
      width: 1150px;
      height: 28px;

      bottom: -17px;
    }
  }

  .main-week-product__title {
    @include font-style(53px, 57px);
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
  }

  .main-week-product__mark {
    top: 140px;
    right: 0;
    left: 20px;
  }

  .main-week-product__description {
    margin-bottom: 45px;
  }

  .main-week-product__image-container {
    right: 0;
    top: 70px;
  }

  .main-week-product__image {
    width: 525px;
    height: 635px;
  }

  .main-week-product__price {
    padding: 27px 0 35px 5px;
  }

}
