.products {
  padding: 30px 0 59px;
}

@media ($tablet-widths) {
  .products {
    padding-top: 78px;
    padding-bottom: 62px;
  }
}

@media ($desktop-widths) {
  .products {
    padding-top: 130px;
    padding-bottom: 104px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}
