.product-parameters {
  width: 100%;
  border-collapse: collapse;

  margin-bottom: 30px;
}

.product-parameters__field {
  border-bottom: 1px solid $main-color-border;
  padding: 8px 0;
  width: 95px;
}

.product-parameters__value {
  border-bottom: 1px solid $main-color-border;
}

@media ($tablet-widths) {
  .product-parameters {
    width: 290px;

    margin-bottom: 30px;
  }
}

@media ($desktop-widths) {
  .product-parameters {
    margin-bottom: 80px;
  }
}
