.product {
  margin-bottom: 30px;
}

.product__text {
  padding: 26px 28px 21px;
  margin-top: -7px;
  position: relative;

  border: 1px solid $main-color-border;
}

.product__title {
  margin-top: 0;
  margin-bottom: 4px;
}

.product__title-link {
  @include font-style();

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.2;
  }
}

.product__description {
  @include font-resize(13px, 30px);

  margin-top: 0;
  margin-bottom: 22px;
  padding-bottom: 18px;

  border-bottom: 1px solid $main-color-border;
}

.product__price {
  @include font-style(15px, 24px);
}

.product__add-basket {
  font-size: 0;
}

.product__add-icon-container {
  position: absolute;
  right: 25px;
  bottom: 32px;
}

.product__add-icon {
  fill: $bg-color-icons;
}

.product__image {
  width: 260px;
  height: 196px;
}

@media ($tablet-widths) {
  .product {
    display: flex;

    margin-bottom: 53px;
  }

  .product__link {
    width: 50%;
    height: 334px;
  }

  .product__text {
    width: 50%;
    min-height: 332px;
    margin: 0;
    box-sizing: border-box;

    padding: 23px 25px 25px;

    display: flex;
    flex-direction: column;
  }

  .product__title {
    margin-bottom: 5px;
  }

  .product__title-link {
    @include font-resize(20px, 24px);
  }

  .product__description {
    @include font-resize(15px, 30px);

    border: none;
  }

  .product__price {
    @include font-resize();

    margin-top: auto;
    margin-left: 5px;
    padding-top: 24px;

    border-top: 1px solid $main-color-border;
  }

  .product__add-basket {
    position: absolute;

    bottom: 0;
    right: 6px;
  }

  .product__image {
    width: 334px;
    height: 334px;
  }
}

@media ($desktop-widths) {
  .product {
    width: 316px;

    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 57px;
  }

  .product__link {
    width: auto;
    height: 464px;
  }

  .product__text {
    width: 100%;
    min-height: 196px;
    box-sizing: border-box;

    margin-top: -3px;
    padding-top: 25px;

    &:hover {
      box-shadow: 1px 5px 15px 2px $color-border-product;
    }

    &:active {
      box-shadow: 0 3px 5px 0 $color-border-product;
    }
  }

  .product__description {
    margin-bottom: 0;
    padding-bottom: 12px;
  }

  .product__add-basket {
    &:hover .product__add-icon {
      fill: $color-light-green;
    }

    &:active {
      opacity: .3;
    }
  }

  .product__image {
    width: 316px;
    height: 462px;
  }

  .product__price {
    margin-left: 0;
  }
}
